<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="message-container">
          {% for category, message in messages %}
            <div class="message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <!-- This block will be overridden in child templates -->
    <div class="wrapper">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>


   </div>
    <footer class="footer">
      <p>© 2024 Swupel e. U. All rights reserved.</p>
      <p><a href="/contact">Contact</a> | <a href="/TOS">Terms of Service</a></p>
      <div>
      <button id='gback-button' class="gbutton">Back</button>
      </div>
    </footer>  



    {% if not current_user.is_authenticated %}
    <script>       
      
      var currentPath = window.location.pathname;
      if (currentPath == "/") {
        document.getElementById('gback-button').innerText="Login";

      } 

    </script>
    
    {% endif %}
    
    
    <script>

      if (window.location.pathname == "/home") {
        document.getElementById('gback-button').style.display = 'none';
      }

      document.getElementById('gback-button').addEventListener('click', function() {
        if (document.getElementById('gback-button').innerText != "Login") {
          window.history.back()
        }
        else {
          window.location.href = "login"
        }
        ;})
        

    </script>


</html>
