{% extends "base.html" %}
{% block title %}{{ primain_name }} Address{% endblock %}
{% block content %}
<header>
    <h1>Addresses for {{ primain_name }}</h1>
</header>
<main>
    {% if error %}
    <div id="messageContainer" class="message danger">
        {{ error }}
    </div>
    {% else %}
    <div id="addressDisplay">
        <div id="addressBox" style="background-color: #121212; color: #ffffff; border: 1px solid #5af0b9; border-radius: 5px; padding: 15px; margin-bottom: 10px;">
            <div style="display: flex; flex-direction: column; max-height: 400px; overflow-y: auto;">
                {% set networks = [
                    { "id": '1', "name": 'Ethereum', "logo": 'static/ethereum-eth-logo.png' },
                    { "id": '137', "name": 'Polygon', "logo": 'static/polygon-matic-logo.png' },
                    { "id": '56', "name": 'Binance Smart Chain', "logo": 'static/bnb-bnb-logo.png' },
                    { "id": '43114', "name": 'Avalanche', "logo": 'static/avalanche-avax-logo.png' },
                    { "id": '250', "name": 'Fantom', "logo": 'static/fantom-ftm-logo.png' },
                    { "id": '42161', "name": 'Arbitrum', "logo": 'static/arbitrum-arb-logo.png' },
                    { "id": '10', "name": 'Optimism', "logo": 'static/optimism-ethereum-op-logo.png' },
                    { "id": '61', "name": 'Harmony', "logo": 'static/harmony-one-logo.png' },
                    { "id": '25', "name": 'Cronos', "logo": 'static/cronos-cro-logo.png' },
                    { "id": '42220', "name": 'Celo', "logo": 'static/celo-celo-logo.png' },
                    { "id": '0', "name": 'Bitcoin', "logo": 'static/bitcoin-btc-logo.png' },
                    { "id": '101', "name": 'Solana', "logo": 'static/solana-sol-logo.png' },
                    { "id": 'tether', "name": 'Tether', "logo": 'static/tether-usdt-logo.png' },
                    { "id": '6', "name": 'USD Coin', "logo": 'static/usd-coin-usdc-logo.png' },
                    { "id": 'Dogecoin', "name": 'Dogecoin', "logo": 'static/dogecoin-doge-logo.png' },
                    { "id": '1001', "name": 'TONCOIN', "logo": 'static/toncoin-ton-logo.png' },
                    { "id": '0xShiba', "name": 'Shiba INU', "logo": 'static/shiba-inu-shib-logo.png' },
                    { "id": '1c', "name": 'Chainlink', "logo": 'static/chainlink-link-logo.png' },
                    { "id": '0xDAI', "name": 'DAI', "logo": 'static/multi-collateral-dai-dai-logo.png' },
                    { "id": '0xLEO', "name": 'LEO', "logo": 'static/unus-sed-leo-leo-logo.png' },
                    { "id": '0xUniswap', "name": 'Uniswap', "logo": 'static/uniswap-uni-logo.png' },
                    { "id": '461', "name": 'Filecoin', "logo": 'static/filecoin-fil-logo.png' },
                    { "id": '500', "name": 'Theta', "logo": 'static/theta-network-theta-logo.png' },
                    { "id": 'QNT', "name": 'Quant', "logo": 'static/quant-qnt-logo.png' }
                ]%}
                

                <div style="display: flex; flex-direction: column;">  <!-- Initialize a flag to track linked addresses -->
                
                    {% for net in network %}
                        {% set counter = loop.index0 %}
                        {% for chain in networks %}
                            {% if net == chain.name %}
                                    <div style="margin-bottom: 20px; display: flex; align-items: center;">
                                        <img src="{{ chain.logo }}" alt="{{ chain.name }}" title="This Address is only valid on the {{ chain.name }} Mainnet" style="width: 30px; height: 30px; margin-right: 8px;">
                                        <span style="font-size: 18px;">{{ address[counter] }}</span>
                                        <button id="copyAddressButton{{ address[counter] }}" class="button" onclick="copyAddress('{{ address[counter] }}')" style="margin-left: 10px;">Copy Address</button>
                                    </div> 
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <span style="font-size: 18px; color: white;">{{ counter }}</span>
                </div>
                {%if network==[] %}
                <span style="font-size: 18px; color: white;">Primain is owned but has no addresses linked.</span>
                {%endif%}
                              
                <div id="verificationData" style="display:none;">{{ data }}</div>
            </div>
        </div>


    </div>
    <button id="copyDataButton" class="button" onclick="copyData()" style="margin-top: 10px; display: block; margin: 0 auto;">Copy Verification Data</button>
    {% endif %}
    {% if current_user.is_authenticated %}
        <a href="/home" class="back-button">Home</a>
    {% else %}
        <a href="/" class="back-button">Back</a>
    {% endif %}
</main>
<script>
    function copyAddress(address) {
        const tempInput = document.createElement('textarea');
        tempInput.value = address;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
        alert('Address copied: ' + address);
    }
        
    function copyData() {
        var dataValue = document.getElementById('verificationData').innerText;
        var tempElem = document.createElement('textarea');
        tempElem.value = dataValue;
        document.body.appendChild(tempElem);
        tempElem.select();
        document.execCommand('copy');
        document.body.removeChild(tempElem);
        alert('Verification Data copied to clipboard');
    }
</script>
{% endblock %}
