{% extends "base.html" %}
{% block title %}Primain Address{% endblock %}
{% block content %}
<header>
    <h1>Native Primain Address</h1>
</header>
<main>
    <form id="primainForm">
        <label for="primainName">Enter Primain Name:</label>
        <input type="text" id="primainName" name="primainName" required>
        <button type="submit" class="button">Get Address</button>
    </form>
    <div id="addressDisplay" style="display: none;">
        <div id="addressBox" style="    background-color: #121212; color: #ffffff;border: 1px solid #5af0b9; border-radius: 5px;padding: 15px;margin-bottom: 10px;">
            <span id="addressValue"></span>
            <button id="copyAddressButton" class="button" onclick="copyAddress()">Copy Address</button>
        </div>
    </div>
    <a href="/" class="back-button">Back</a>
</main>
<script>
    document.getElementById('primainForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var primainName = document.getElementById('primainName').value;
        fetch('/get_address2', {
            method: 'POST',
            body: new URLSearchParams({ primain_name: primainName }),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(error);
            } else {
                document.getElementById('addressValue').textContent = data.address;
                document.getElementById('addressDisplay').style.display = 'block';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    function copyAddress() {
        var addressValue = document.getElementById('addressValue');
        var range = document.createRange();
        range.selectNode(addressValue);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        alert('Address copied to clipboard');
    }
</script>
{% endblock %}
