{% extends "base.html" %}
{% block title %}Manage Wallet{% endblock %}
{% block content %}
<header>
    <h1>Swupel Primain Service</h1>
</header>
<main>
    <div class="button-container">
        <a href="/register_primain" class="button">Register new Primain</a>
        <a href="/register_primain2" class="button">View Native Primain</a>
        <a href="/view_owned_primains" class="button">View owned Primains</a>
        <a href="/get_address" class="button">Convert Primain to Address</a>
        <a href="/get_address2" class="button">Convert Native Primain to Address</a>
    </div>
    <a href="/logout" class="back-button">Logout</a>
</main>
{% endblock %}
