{% extends "base.html" %}
{% block title %}View Owned Primains{% endblock %}
{% block content %}
<header>
    <h1>View Owned Primains</h1>
</header>
<main>
    {% if primains %}
        <ul>
            {% for primain in primains %}
                <li>
                    <a href="/{{ primain.primain_name }}" class="primain-link">{{ primain.primain_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="message message-info">No Primains found for this user.</p>
    {% endif %}
    <a href="/" class="back-button">Home</a>
</main>
{% endblock %}
