{% extends "base.html" %}
{% block title %}View Owned Primains{% endblock %}
{% block content %}
<header>
    <h1>View Owned Primains</h1>
</header>
<main>
    {% if primains %}
        <ul>
            {% for primain in primains %}
                <li>
                    <!-- Link to the primain -->
                    <a href="/{{ primain.primain_name }}" class="primain-link">{{ primain.primain_name }}</a>

                    <!-- Small button next to the link to add a new address -->
                    <a href="/register_primain{{ primain.primain_name }}" class="small-button">+</a>
                    <a href="/delete_adress{{ primain.primain_name }}" class="small-button">-</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="message message-info">No Primains found for this user.</p>
    {% endif %}
    
</main>
{% endblock %}
